@model IEnumerable<Category>

<ul class="list-group">
        <li class="list-group-item">
                <a class="nav-link text-dark" asp-controller="Products" asp-action="Index" asp-route-categorySlug="">All Products</a>
        </li>

        @foreach (var item in Model)
        {
                <li class="list-group-item">
                        <a class="nav-link text-dark" asp-controller="Products" asp-action="Index" asp-route-categorySlug="@item.Slug">@item.Name</a>
                </li>
        }
</ul>